USE [master]
GO
/****** Object:  Database [Nhom15_WebVanPhongPham]    Script Date: 12/24/2021 4:17:46 PM ******/
CREATE DATABASE [Nhom15_WebVanPhongPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nhom15_WebVanPhongPham', FILENAME = N'D:\ung dung\Microsoft Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Nhom15_WebVanPhongPham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nhom15_WebVanPhongPham_log', FILENAME = N'D:\ung dung\Microsoft Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Nhom15_WebVanPhongPham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nhom15_WebVanPhongPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nhom15_WebVanPhongPham]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[TieuDe] [nvarchar](250) NULL,
	[ngay] [date] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTiet_DH]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_DH](
	[MaSp] [int] NOT NULL,
	[MaDH] [int] NOT NULL,
	[SLBan] [int] NULL,
 CONSTRAINT [PK_ChiTiet_DH] PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC,
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaTk] [int] NOT NULL,
	[NgayDat] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[HoTen] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSp] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[KhoiLuong] [float] NULL,
	[SLcon] [int] NULL,
	[ThuongHieu] [nvarchar](50) NULL,
	[Anh] [varchar](100) NULL,
	[Gia] [float] NOT NULL,
	[SLDat] [int] NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MoTa] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/24/2021 4:17:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTk] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Sdt] [varchar](12) NULL,
	[TenDN] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'Bút')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'Sổ-Vở')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (3, N'Đồ dùng văn phòng')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSp], [MaDM], [KhoiLuong], [SLcon], [ThuongHieu], [Anh], [Gia], [SLDat], [TenSP], [MoTa]) VALUES (5, 1, 500, 100, N'Văn phòng phẩm Hồng Hà', N'But2.jpg', 50000, 0, N'Bút dạ bi cao cấp Hồng Hà 220', N'Bút dạ bi cao cấp Hồng Hà 220 | Bút ký quà tặng - 9012 là sản phẩm thuộc dòng bút cao cấp của công ty CP Văn phòng phẩm Hồng Hà. Bút ký cao cấp Hồng Hà sẽ là sự lựa chọn hàng đầu nếu bạn đang tìm đến một cây bút ký sang trọng, chất lượng với mức giá thành hợp lý.

')
INSERT [dbo].[SanPham] ([MaSp], [MaDM], [KhoiLuong], [SLcon], [ThuongHieu], [Anh], [Gia], [SLDat], [TenSP], [MoTa]) VALUES (6, 1, 500, 50, N'Văn phòng phẩm Hồng Hà', N'But3.jpg', 45000, 0, N'Bút máy cao cấp Hồng Hà 319/HDN13', N'Bút máy cao cấp Hồng Hà 319/HDN13 - 9036 là sản phẩm thuộc dòng bút cao cấp của công ty CP Văn phòng phẩm Hồng Hà. Bút ký cao cấp Hồng Hà sẽ là sự lựa chọn hàng đầu nếu bạn đang tìm đến một cây bút ký sang trọng, chất lượng với mức giá thành hợp lý.')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTk], [HoTen], [Email], [DiaChi], [Sdt], [TenDN], [MatKhau], [Quyen]) VALUES (1, N'Trần Thúy Nga', N'ngat35137@gmail.com', N'Thái Nguyên', N'0961362470', N'ngacute', N'123456', N'ADMIN')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[ChiTiet_DH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DH_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTiet_DH] CHECK CONSTRAINT [FK_ChiTiet_DH_DonHang]
GO
ALTER TABLE [dbo].[ChiTiet_DH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DH_SanPham] FOREIGN KEY([MaDH])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
ALTER TABLE [dbo].[ChiTiet_DH] CHECK CONSTRAINT [FK_ChiTiet_DH_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TaiKhoan] FOREIGN KEY([MaTk])
REFERENCES [dbo].[TaiKhoan] ([MaTk])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
USE [master]
GO
