@charset "utf-8";
/* CSS Document */
<<<<<<< HEAD
/*=========================================================
	TRANG CHỦ
===========================================================*/
=======

/*//header*/


* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    background-color: #ECE8E8;
    padding: 0;
}

.header {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.top {
    width: 100%;
    height: 35px;
    background-color: #ed1c24;
}

.header_right {
    width: 14%;
    height: 100%;
    /* background-color: aquamarine; */
    line-height: 30px;
    margin-left: 86%;
    color: #000000;
}

#menu_login ul {
    background: #ed1c24;
    width: 150px;
    padding: 0;
    color: white;
    list-style-type: none;
    text-align: center;
}

#menu_login li {
    width: 150px;
    height: 35px;
    line-height: 35px;
    
}

    #menu_login li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;
    }

    #menu_login li:hover {
        background:#ff6a00;
        
    }
#menu_login ul li {
    position: relative;
}

#menu_login .sub-menu {
    position: absolute;
    top: 35px;
    display: none;
    text-align: center;
}

#menu_login li:hover .sub-menu {
    display: block;
    background: #ed1c24;
    border-bottom: 1px solid #e8e8e8;
}

.fa-user {
    float: left;
    text-align: center;
    margin-top: 10px;
}

.header_midle {
    width: 100%;
    height: 100px;
}

.header_brand-logo {
    width: 100px;
    height: 100px;
    margin-left: 60px;
    float: left;
}

.logo_img {
    width: 100%;
    height: 100%;
}

.header_navbar-search {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ed1c24;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 45%;
    float: left;
}

.box_search {
    height: 100%;
    width: 80%;
    float: left;
}

    .box_search input {
        background-color: transparent;
        box-shadow: none;
        /* padding: 20px; */
        border: none;
        outline: none;
        height: 100%;
        border-radius: 40px;
        line-height: 70px;
        width: 100%;
    }

.icon_search {
    width: 15%;
    height: 80%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 6px;
    background-color: #ed1c24;
    border-radius: 60px;
}
.cart {
    width: 10%;
    height: 40%;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid #ed1c24;
    text-align: center;
}

.cart_child {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    color: #ed1c24;
}
/*=========================================================
	HEADER
===========================================================*/

.header_right-nav--link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.header_menu {
    width: 100%;
    height: 60px;
    background-color: #ed1c24;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.header_navbar {
    list-style: none;
    width: 100%;
    display: flex;
    margin-left: 10%;
    padding-left: 17px;
}

.header_navbar-item {
    line-height: 60px;
    color: #FFFFFF;
}

.header_navbar-item--link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 15px;
}

    .header_navbar-item--link:hover {
        background: white;
        color: #000000;
        text-decoration: none;
    }
/*=========================================================
	SLIDE SHOW
===========================================================*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.dl-horizontal{
    color: #ef233c;
}
/*=========================================================
	LIST SẢN PHẨM
===========================================================*/
.product {
    position: relative;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    background-color: white;
}

    .product:hover {
        -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
        box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
    }

    .product .product-img {
        position: relative;
    }

        .product .product-img > img {
            width: 100%;
        }

        .product .product-img .product-label {
            position: absolute;
            top: 15px;
            right: 15px;
        }

            .product .product-img .product-label > span {
                border: 2px solid;
                padding: 2px 10px;
                font-size: 12px;
            }

                .product .product-img .product-label > span.sale {
                    background-color: #FFF;
                    border-color: #D10024;
                    color: #D10024;
                }

                .product .product-img .product-label > span.new {
                    background-color: #D10024;
                    border-color: #D10024;
                    color: #FFF;
                }

    .product .product-body {
        position: relative;
        padding: 15px;
        background-color: #FFF;
        text-align: center;
        z-index: 20;
    }

        .product .product-body .product-category {
            text-transform: uppercase;
            font-size: 12px;
            color: #8D99AE;
        }

        .product .product-body .product-name {
            text-transform: uppercase;
            font-size: 14px;
        }

            .product .product-body .product-name > a {
                font-weight: 700;
            }

                .product .product-body .product-name > a:hover, .product .product-body .product-name > a:focus {
                    color: #D10024;
                }

        .product .product-body .product-price {
            color: #D10024;
            font-size: 18px;
        }

            .product .product-body .product-price .product-old-price {
                font-size: 70%;
                font-weight: 400;
                color: #8D99AE;
            }

        .product .product-body .product-rating {
            position: relative;
            margin: 15px 0px 10px;
            height: 20px;
        }

            .product .product-body .product-rating > i {
                position: relative;
                width: 14px;
                margin-right: -4px;
                background: #FFF;
                color: #E4E7ED;
                z-index: 10;
            }

                .product .product-body .product-rating > i.fa-star {
                    color: #ef233c;
                }

            .product .product-body .product-rating:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                height: 1px;
                background-color: #E4E7ED;
            }

        .product .product-body .product-btns > button {
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: transparent;
            border: none;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }

            .product .product-body .product-btns > button:hover {
                background-color: #E4E7ED;
                color: #D10024;
                border-radius: 50%;
            }

            .product .product-body .product-btns > button .tooltipp {
                position: absolute;
                bottom: 100%;
                left: 50%;
                -webkit-transform: translate(-50%, -15px);
                -ms-transform: translate(-50%, -15px);
                transform: translate(-50%, -15px);
                width: 150px;
                padding: 10px;
                font-size: 12px;
                line-height: 10px;
                background: #1e1f29;
                color: #FFF;
                text-transform: uppercase;
                z-index: 10;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }

            .product .product-body .product-btns > button:hover .tooltipp {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translate(-50%, -5px);
                -ms-transform: translate(-50%, -5px);
                transform: translate(-50%, -5px);
            }

    .product .add-to-cart {
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: 1px;
        padding: 15px;
        background: #1e1f29;
        text-align: center;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        z-index: 2;
    }

    .product:hover .add-to-cart {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .product .add-to-cart .add-to-cart-btn {
        position: relative;
        border: 2px solid transparent;
        height: 40px;
        padding: 0 30px;
        background-color: #ef233c;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 40px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .product .add-to-cart .add-to-cart-btn > i {
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            line-height: 38px;
            color: #D10024;
            opacity: 0;
            visibility: hidden;
        }

        .product .add-to-cart .add-to-cart-btn:hover {
            background-color: #FFF;
            color: #D10024;
            border-color: #D10024;
            padding: 0px 30px 0px 50px;
        }

            .product .add-to-cart .add-to-cart-btn:hover > i {
                opacity: 1;
                visibility: visible;
            }


/*footer/*/

/*footer/*/
.bggray {
    width: 100%;
    height: 100%;
    background: #bbbaba;
    display: flex;
    padding: 1rem;
}

#bao {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.cot {
    width: 22%;
    height: 100%;
    padding: 20px;
    margin: 10px;
    border-right: 1px solid #bbb;
    float: left;
}

.anh {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    float: left;
}

.lh {
    display: flex;
    width: 90%;
    height: auto;
}

.cot1 {
    width: 22%;
    height: 100%;
    padding: 20px;
    margin: 10px;
    float: left;
}

.img_logo {
    width: 150px;
    height: 150px;
}


