
<link href="~/wwwroot/css/index.css" rel="stylesheet" />
<div class="bggray">
    <div id="bao">
        <div class="cot">
            <img src="~/wwwroot/Anh_Icon/logo.png" class="img_logo" />
            <p><b>Website bán hàng trực tuyến của công ty cổ phần Văn phòng phẩm Hồng Hà</b></p>
            <p>ĐKKD 0100100216 do Sở KH&ĐT TP. Hà Nội cấp ngày 28/12/2005</p>
            <p>Địa chỉ: Tầng 1, TTTM 25 Lý Thường Kiệt, Phường Phan Chu Trinh, Quận Hoàn Kiếm, Thành phố Hà Nội.</p>
            <p>Điện thoại: 024 2246 2003</p>
            <p>  Email: dvkh@vpphongha.com.vn</p>
        </div>
        <div class="cot">
            <h3>Chính sách bán hàng</h3>
            <p>Giới Thiệu</p>
            <p>Hướng dẫn</p>
            <p>Đổi trả</p>
            <p>Cam kết chính hãng</p>
            <p>Chính sách bán hàng trên Website</p>
            <p>Chính sách đổi trả</p>
            <p>Chính sách bảo mật thông tin</p>
            <p>Catalogue sản phẩm 2020</p>

        </div>
        <div class="cot">
            <h3>HotLine liên hệ</h3>
            <div class="lh">
                <img src="~/wwwroot/Anh_Icon/icon_call.png" class="anh" />
                <p style="margin:auto 0px;"><b>(024) 2246 2003</b></p>
            </div>
            <h3>Kết nối với chúng tôi<br /></h3>
            <div class="lh">
                <a href="https://www.facebook.com/vpphongha.tieuhoc/"><img src="~/wwwroot/Anh_Icon/icon_facebook.png" class="anh" /></a>
                <a href="https://www.instagram.com/vpphonghaonline.com.vn/?fbclid=IwAR0-IrLWuUNC_cxm77eaJ4gMV-acvDZb8jyrpvIRdZt5SDc_aH2979cLZqo"><img src="~/wwwroot/Anh_Icon/icon_insta.png" class="anh" /></a>
                <a href="https://www.youtube.com/channel/UCJFcjqyXfi4Rl7ds9au33gw/featured"><img src="~/wwwroot/Anh_Icon/icon_youtube.png" class="anh" /></a>
                <a href="https://twitter.com/"><img src="~/wwwroot/Anh_Icon/icon_stw.png" class="anh" /></a>
            </div>
            <h3>
                <br />Chứng nhận
            </h3>
            <img src="~/wwwroot/Anh_Icon/chungnhan.png" width="200" height="auto" />
        </div>
        <div class="cot1">
            <h3>Hệ thống cửa hàng</h3>
            <p>
                <b>Lý Thường Kiệt</b><br />
                25 Lý Thường Kiệt, Hoàn Kiếm, TP. Hà Nội<br />
                Điện thoại: 024.2243.2603<br />
            </p>
            <p>
                <b>Vincom Long Biên</b><br />
                Tầng 1, TTTM Vincom Center Long Biên, P. Phúc Lợi, Q. Long Biên, TP. Hà Nội<br />
                Điện thoại: 0243.657.4543<br />
            </p>
            <p>
                <b>Phạm Ngọc Thạch</b><br />
                Kiot 14-15 B10 Phạm Ngọc Thạch, P.Kim Liên, Q. Đống Đa, TP. Hà Nội<br />
                Điện thoại:  024.6684.6854<br />
            </p>
        </div>
    </div>

</div>

